@model IEnumerable<ClassLibrary.ConversationModel>
<div class="main">
    <div class="group-body">
        <button class="create-group-group-box" asp-controller="Messaging" asp-action="CreateGroup">
            <div class="group-box-image">
                <img src="/images/profile pic prom.gif" alt="">
            </div>
            <div class="group-box-text-selected">
                <div class="group-box-text-title-selected">
                   Create a group
                </div>
            </div>
        </button>
        <!-- Group boxws go here -->
        @foreach (var item in Model)
        {
            <button class="group-box-selected" value="@item.ID" asp-controller="Messaging" asp-action="ShowGroupMessage">
                <div class="group-box-image">
                    <img src="/images/profile pic prom.gif" alt="">
                </div>
                <div class="group-box-text-selected">
                    <div class="group-box-text-title-selected">
                        @item.Title
                    </div>
                    <div class="group-box-text-last-message-selected">
                        Last message sent 2d ago
                    </div>
                </div>
            </button>
        }
    </div>
    <!-- Message Section -->
    <div class="message-section">
        <div class="message-top-section">
            <!-- Group info goes here -->
            <div class="message-top-section-image">
                <img src="/images/profile pic prom.gif" alt="">
            </div>
            <div class="message-top-section-title">
                Camelback Crusaders
            </div>
        </div>
        <div class="message-body">
            <!-- Messages go here -->
            @*<div class="message-top"></div>
            <div class="message-middle"></div>
            <div class="message-bottom"></div>
            <div class="message"></div>
            <div class="my-message-top"></div>
            <div class="my-message-middle"></div>
            <div class="my-message-bottom"></div>
            <div class="my-message"></div>
            <div class="message-top"></div>
            <div class="message-middle"></div>
            <div class="message-bottom"></div>
            <div class="message"></div>
            <div class="my-message-top"></div>
            <div class="my-message-middle"></div>
            <div class="my-message-bottom"></div>
            <div class="my-message"></div>*@

        </div>
        <div class="send-body">
            <form class="d-flex" method="post">
                <input class="nav-search" type="search" name="query" placeholder="Search..." style="padding-right: 10px;">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>